.card-block{
	&__item{
		background: #F5F5F5;
		box-shadow: 0 50px 50px rgba(0, 0, 0, 0.7);
		border-radius: 5px;
		padding: 21px 18px;
		margin: 80px 0;
		display: flex;
		gap: 18px;
		justify-content: space-between;
		&--reverse{
			flex-direction: row-reverse;
		}
	}
	&__figure{
		margin: 0;
		overflow: hidden;
		flex: 1 0 575px;
		max-width: 575px;
		img{
			display: block;
			object-fit: cover;
		}
	}
	&__content{
		flex: 1 0;
	}
	&__dif{
		width: 140px;
		height: 1px;
		background-color: #000000;
		margin-bottom: 61px;
	}
	&__name{
		font-weight: 400;
		font-size: 64px;
		line-height: 77px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
		margin: 0 0 49px;
	}
	&__text{
		font-family: $font1;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.05em;
		color: #000000;
	}
}