.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 26px;
	position: relative;
	z-index: 1;
	&__link{
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		text-decoration: none;
		transition: all .3s ease;
		&:hover{
			color: #000;
		}
	}
	&__dif{
		width: 2px;
		height: 54px;
		background-color: #fff;
	}
	@include r(1023){
		&__link{
			font-size: 18px;
			line-height: 24px;
		}
		&__dif{
			height: 30px;
		}
	}
	@include r(767){
		display: block;
		&__dif{
			display: none;
		}
		&__link{
			font-size: 16px;
			line-height: 19px;
			display: block;
			margin-bottom: 20px;
		}
	}
}