.product-card{
	text-decoration: none;
	display: block;
	position: relative;
	&--article{
		.product-card__content{
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&--second{
		.product-card__name{
			color: #000000;
		}
		.product-card__dif{
			background-color: #000;
		}
		.product-card__price{
			font-weight: 400;
			font-size: 24px;
			line-height: 29px;
			letter-spacing: 0.05em;
			text-transform: lowercase;
			color: #FFFFFF;
		}
	}
	&__figure{
		margin: 0;
		overflow: hidden;
		img{
			display: block;
			object-fit: cover;
		}
	}
	&__content{
		padding: 24px 20px;
		font-family: $font1;
	}
	&__name{
		font-family: $font1;
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		color: #FFFFFF;
	}
	&__dif{
		width: 97px;
		height: 1px;
		background-color: #ffffff;
		margin: 32px 0 26px;
	}
	&__price{
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		color: #FFFFFF;
	}
	&__view{
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		color: #000000;
		text-decoration: none;
		display: block;
	}
	@include r(767){
		&--article{
			.product-card__content{
				position: absolute;
				top: 0;
				left: 0;
				padding: 12px;
			}
			.product-card__dif{
				margin: 46px 0 40px;
			}
		}
		&__content{
			padding: 24px 0 0;
		}
		&__name{
			font-size: 16px;
			line-height: 19px;
		}
		&__dif{
			margin: 16px 0;
		}
		&__price{
			font-size: 16px;
			line-height: 19px;
		}
	}
}