.product-card{
	text-decoration: none;
	display: block;
	position: relative;
	&--article{
		.product-card__content{
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	&__figure{
		margin: 0;
		overflow: hidden;
		img{
			display: block;
			object-fit: cover;
		}
	}
	&__content{
		padding: 24px 20px;
		font-family: $font1;
	}
	&__name{
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		color: #FFFFFF;
	}
	&__dif{
		width: 97px;
		height: 1px;
		background-color: #ffffff;
		margin: 32px 0 26px;
	}
	&__price{
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		color: #FFFFFF;
	}
}