.recipes{
	&__body{
		margin-bottom: 71px;
	}
	&__item{
		display: flex;
		border-bottom: 1px solid #000000;
		padding-bottom: 62px;
		margin-bottom: 62px;
		text-decoration: none;
		&:last-child{
			border: 0;
			padding: 0;
		}
	}
	&__figure{
		flex: 1 0 572px;
		max-width: 572px;
		margin: 0 117px 0 0;
		img{
			display: block;
			object-fit: cover;
		}
	}
	&__content{}
	&__name{
		font-family: $font2;
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
		margin: 0 0 44px;
	}
	&__list{
		list-style: none;
		margin: 0 0 19px;
		padding: 0;
		li{
			font-family: $font2;
			font-weight: 400;
			font-size: 14px;
			line-height: 30px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #000000;
		}
	}
	&__ingredients{
		font-family: $font2;
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 30px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #000000;
		margin: 0 0 19px;
	}
	&__text{
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.05em;
		text-transform: lowercase;
		color: #000000;
		margin: 0 0 19px;
	}
	&__link{
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.05em;
		text-decoration-line: underline;
		text-transform: lowercase;
		color: #000000;
		&:hover{
			text-decoration: none;
		}
	}

}