.slider-products{
	overflow: hidden;
	margin: 80px 0 53px;
	&--other{
		.slider-products__header{
			margin-bottom: 67px;
			margin-left: 0;
		}
		.slider-products__title{
			font-family: $font2;
			font-weight: 700;
			font-size: 15px;
			line-height: 30px;
			color: #000000;
		}
		.container{
			padding: 0;
		}
	}
	&__header{
		margin-bottom: 71px;
		margin-left: 90px;
	}
	&__title{
		font-family: $font3;
		font-weight: 400;
		font-size: 64px;
		line-height: 64px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #FFFFFF;
		margin: 0;
	}
	&__item{
		max-width: 335px;
	}
	&__footer{
		text-align: center;
		margin-top: 69px;
	}
	&__more{
		font-family: $font2;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.05em;
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #000000;
		&:hover{
			text-decoration: none;
		}
	}
	@include r(1023){
		&__title{
			font-size: 54px;
			line-height: 54px;
		}
	}
	@include r(767){
		margin: 45px 0 40px;
		&--other{
			.slider-products__header{
				margin-bottom: 67px;
				margin-left: 0;
				display: block;
			}
			.slider-products__title{
				font-size: 14px;
				line-height: 30px;
			}
		}
		&__header{
			display: none;
		}
		&__footer{
			text-align: center;
			margin-top: 39px;
		}
	}
}