<div class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__item">
                <h4 class="footer__title">о бренде</h4>
                <a class="footer__link" href="">новости</a>
                <a class="footer__link" href="">пресса о нас</a>
                <a class="footer__link" href="">Видео</a>
                <a class="footer__link" href="">Стать партнером</a>
            </div>
            <div class="footer__item">
                <h4 class="footer__title">Клиентам</h4>
                <a class="footer__link" href="">Как купить</a>
                <a class="footer__link" href="">Возврат товара</a>
                <a class="footer__link" href="">Помощь покупателям</a>
            </div>
            <div class="footer__item">
                <h4 class="footer__title">контакты</h4>
                <a class="footer__link" href="tel:88000000000">8 800 000 00 00</a>
                <a class="footer__link" href="">Москва, Красная площадь</a>
                <a class="footer__link" href="mailto:ivlev@chef.com">ivlev@chef.com</a>
                <div class="footer__social">
                    <a href="" class="footer__icon"><img class="img-fluid" src="./img/icons-sprite.svg#telegram" width="50" height="42" alt=""></a>
                    <a href="" class="footer__icon"><img class="img-fluid" src="./img/icons-sprite.svg#vk" width="50" height="42" alt=""></a>
                    <a href="" class="footer__icon"><img class="img-fluid" src="./img/icons-sprite.svg#youtube" width="50" height="42" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>