<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__logo">
                <img class="img-fluid" src="./img/logo.png" width="695" height="460" alt="Ivlev chef">
            </div>
            <div class="header__middle">
                <div class="header__burger" id="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <form class="header__search" action="">
                    <button type="submit" class="btn btn-link">
                        <img src="./img/icon-search.png" width="30" height="28" alt="">
                    </button>
                    <input class="form-control" type="text">
                </form>

                <div class="header__btn">
                    <a href="" class="btn btn-primary">Стать партнером</a>
                </div>
            </div>
            <nav class="nav">
                <a class="nav__link" href="">каталог</a>
                <div class="nav__dif"></div>
                <a class="nav__link" href="">ivlev</a>
                <div class="nav__dif"></div>
                <a class="nav__link" href="">рестораторам</a>
                <div class="nav__dif"></div>
                <a class="nav__link" href="">новости</a>
                <div class="nav__dif"></div>
                <a class="nav__link" href="">где купить</a>
                <div class="nav__dif"></div>
                <a class="nav__link" href="">рецепты</a>
            </nav>
            <div class="header__dropdown-menu dropdown-menu">
                <ul class="dropdown-menu__list">
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Ивлев</a></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">РЕСТОРАТОРАМ</a></li>
                    <li class="dropdown-menu__item"></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Кухня</a></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Интерьер</a></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Фроматы</a></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Столовая</a></li>
                    <li class="dropdown-menu__item"></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Рецепты</a></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Новости</a></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Полезное видео</a></li>
                    <li class="dropdown-menu__item"></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Где купить</a></li>
                    <li class="dropdown-menu__item"><a class="dropdown-menu__link" href="">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>