<header class="header">
    <div class="container">
    <nav class="nav">
        <a class="nav__link" href="">каталог</a>
        <div class="nav__dif"></div>
        <a class="nav__link" href="">ivlev</a>
        <div class="nav__dif"></div>
        <a class="nav__link" href="">рестораторам</a>
        <div class="nav__dif"></div>
        <a class="nav__link" href="">новости</a>
        <div class="nav__dif"></div>
        <a class="nav__link" href="">где купить</a>
        <div class="nav__dif"></div>
        <a class="nav__link" href="">рецепты</a>
    </nav>
    </div>
</header>