<header class="header">
    <div class="container">
        <div class="header__body">
            <div class="header__logo">
                <img class="img-fluid" src="./img/logo.png" width="695" height="460" alt="Ivlev chef">
            </div>
            <div class="header__middle">
                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <form class="header__search" action="">
                    <button type="submit" class="btn btn-link">
                        <img src="./img/icon-search.png" width="30" height="28" alt="">
                    </button>
                    <input class="form-control" type="text">
                </form>

                <div class="header__btn">
                    <a href="" class="btn btn-primary">Стать партнером</a>
                </div>
            </div>
        </div>
        <nav class="nav">
            <a class="nav__link" href="">каталог</a>
            <div class="nav__dif"></div>
            <a class="nav__link" href="">ivlev</a>
            <div class="nav__dif"></div>
            <a class="nav__link" href="">рестораторам</a>
            <div class="nav__dif"></div>
            <a class="nav__link" href="">новости</a>
            <div class="nav__dif"></div>
            <a class="nav__link" href="">где купить</a>
            <div class="nav__dif"></div>
            <a class="nav__link" href="">рецепты</a>
        </nav>
    </div>
</header>